.env

# Built files
/build/*
!/build/.gitkeep

# Node stuff
node_modules/
npm-debug.log*
.npm

# Wordpress stuff
*.log
/wp-config.php
/wp-content/advanced-cache.php/
/wp-content/backup-db/
/wp-content/backups/
/wp-content/blogs.dir/
/wp-content/cache/
/wp-content/languages
/wp-content/plugins/*
/wp-content/themes/*
/wp-content/upgrade/
/wp-content/uploads/*
/wp-content/wp-cache-config.php
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

!/wp-content/uploads/.gitkeep
!/wp-content/plugins/.gitkeep

# Operating Systems
## macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

## Windows
Thumbs.db
ehthumbs.db
desktop.ini
$RECYCLE.BIN/

# Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-project
*.sublime-workspace

# VSCode
.vscode/

# IDE Files
/.buildpath
/.project
/.settings
/.idea

